@tailwind base;
@tailwind components;
@tailwind utilities;


::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}
.scrollbar::-webkit-scrollbar {
  width: 1%;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #272727;
}
.scrollbar::-webkit-scrollbar.track {
  background: transparent;
}

.nav-menu {
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}
.active {
  transform: translateX(0);
  transition: 0.5s;
}
.video-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* Change the color of the controls */
.plyr--controls button.plyr__control {
  color: #ffffff; /* Change to your desired color */
}

/* Change the background color of the controls */
.plyr--controls {
  background-color: #000000 !important; /* Change to your desired color */
}

/* Change the color of the progress bar */
.plyr--progress input[type="range"] {
  background-color: #ffffff; /* Change to your desired color */
}

/* Change the color of the captions */
.plyr__caption {
  color: #ffffff; /* Change to your desired color */
}

/* Change the background color of the captions */
.plyr__caption {
  background-color: #000000; /* Change to your desired color */
}
